body{
    font-family: "Ubuntu";
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'ubuntu', sans-serif;
}
.p{
    color: #8f8f8f;
}
/*        Headings */
.big-heading{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 3.5rem;
   line-height: 1.5;
}

.section-heading{
font-size: 3rem;
line-height: 1.5;
}
.container-fluid{
    padding: 7% 15%;
}

/*   Title Section*/
#title{
    text-align: left;
    color: #fff;
     background-color: #ff4c68;
 }
 #title.container-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar*/
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Ubuntu-light';
}
.navbar-brand{
    font-family:"Ubuntu" ;
    font-size:2.5rem ;
    font-weight: bold ;
}
/*Downloud button*/
.downloud-button{
    margin: 5% 3% 5% 0;
}
/* Title Image*/
.title-image {
    width:60%;
    transform: rotate(25deg);
    left: 30%;
}
/*features Section*/

.features-title{
    font-family: "Monster-Black";
}


.icon{
    color: #ef8172;
    margin: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

  /*testimonials Section*/

#testimonials{
background-color:#ef8172 ;
color: #fff;
}
.testimonials-image{
    width:10%;
    border-radius:100%;
    margin:20px;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Press Section*/
#press{
    background-color:#ef8172 ;
    
}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}


        /* pricing*/

.simple-afordabl{
    font-family: 'Ubuntu';  
}
.price-text{
    font-size: 3rem;
    line-height: 1.5rem;
}

       /* Call to action*/

#cta{
    color: #fff;
    background-color:#ff4c68;
}
      /* footer */

#footer{
    background-color: #fff;
    color: black;
}
.font-awosome{
    margin: 20px 10px;
}





